* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 1em;
    text-align: center;
    /* margin-left: 15vw;
    margin-right: 15vw; */
}

#middle {
    /* border: 1px solid red; */
    height: 400px;
    /* font-size: 1.5em; */
}

#bottom {
    /* border: 1px solid red; */
    height: 100px;
    /* font-size: 1.5em; */
}
/* added comment */
/* 
#top, #menu {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
} */
/* to show menu items when user click hamburger menu */
.showMenu {
    display: block;
}
label{
    display: block;
}
#preferences *{
   padding: 10px;
   /* margin: 10px; */
}

/* @media screen and (min-width: 800px){
    #top, #menu {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
} */
/*  */


.navbar h1{
    width: 100%;
    display: block;
    /* background: green; */
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.navbar-brand, .navbar-tabs {
    flex-grow: 1;
}

/* added comment */