
/* to show menu items when user click hamburger menu */
/* .showMenu {
    display: block;
} */

#top {
    height: 100px;
    /* border: 1px solid red; */
}

#top *{
    margin: 15px;
}

form *{
    padding:10px;
    margin: 4px;
}

#preferences *{
   padding: 10px;
   /* margin: 10px; */
}

.navbar-brand, .navbar-tabs {
    flex-grow: 1;
}

.navbar h1{
    width: 100%;
    display: block;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.navbar-brand, .navbar-tabs {
    flex-grow: 1;
}

.navbar-menu {
    flex-grow:unset;
}

#logo{
    width: 75px;
    height: 75px;
}

@media screen and (min-width: 800px){
    .navbar h1{
        font-size: 2rem;
    }
}

.middle-box {
    height: 300px;
    overflow: auto;
    margin: 4px;
}

#middle {
    /* border: 1px solid red; */
    height: 400px;
    overflow: auto;
}

#bottom {
    /* border: 1px solid red; */
    /* height: 300px; */
}

.card-custom {
    flex: 20%;
}

img {
    width: 35px;
    height: 35px;
    padding: 1px;
    /* object-fit: cover; */
}
.drink-image {
    width: 90px;
    height: 120px;
    float: right;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(188, 186, 186);
}
#preferences .formHeader{
    text-align: center;
}

.api-card {
    background: linear-gradient(208.8deg, rgba(61, 249, 204, 0.2) 16.56%, rgba(18, 170, 255, 0.148) 94.74%);
    box-shadow: 12px 15px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.table td {
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 0px;

}
.table th {
    padding: 1px;
    vertical-align: bottom;
}
